@font-face {
  font-family: "CommitMono";
  src: url("../assets/fonts/CommitMono-400-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "CommitMono-Bold";
  src: url("../assets/fonts/CommitMono-700-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .white-preset {
    @apply bg-[#aaa] text-[#111];
    --sb-track-color: rgba(0, 0, 0, 0.25);
    --sb-thumb-color: #111111;
    --sb-size: 12px;
  }
  .dark-preset {
    @apply bg-[#111] text-[#aaa];
    --sb-track-color: rgba(0, 0, 0, 0.25);
    --sb-thumb-color: #aaa;
    --sb-size: 12px;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 0px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
